<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница добавления человека</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full name Error</div>
    <br/>
    <label for="birthdate">Введите год рождения: </label>
    <input type="text" th:field="*{birthdate}" id="birthdate"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">Birthdate Error</div>
    <br/>
    <input type="submit" value="Создать!"/>
</form>

</body>
</html>